---
layout: leftcol
title: Desktop Wallpapers
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---

%br
%br

/ Wallpaper thumbnails
.row-fluid
  %h2
    %span Desktop Wallpapers to make your computer awesome.

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-liveoak.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_liveoak_thumb.jpg"}
      %br
      %br
      %b LiveOak
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-fabric8.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_fabric8_thumb.jpg"}
      %br
      %br
      %b Fabric8
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-hawtio.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_hawtio_thumb.jpg"}
      %br
      %br
      %b Hawtio
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-searchisko.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_searchisko_thumb.jpg"}
      %br
      %br
      %b Searchisko

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-undertow.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_undertow_thumb.jpg"}
      %br
      %br
      %b Undertow
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-escalante.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_escalante_thumb.jpg"}
      %br
      %br
      %b Escalante
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-windup.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_windup_thumb.jpg"}
      %br
      %br
      %b Windup
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-wildfly.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_wildfly_thumb.jpg"}
      %br
      %br
      %b Wildfly

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-ashiaro.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_ashiaro_thumb.jpg"}
      %br
      %br
      %b Ashiaro
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-portletbridge.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_portletbridge_thumb.jpg"}
      %br
      %br
      %b PortletBridge
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-immutant.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_immutant_thumb.jpg"}
      %br
      %br
      %b Immutant
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-jbossforge.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jbossforge_thumb.jpg"}
      %br
      %br
      %b JBoss Forge

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-aerogear.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_aerogear_thumb.jpg"}
      %br
      %br
      %b AeroGear
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-capedwarf.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_capedwarf_thumb.jpg"}
      %br
      %br
      %b CapeDwarf
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-ceylon.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_ceylon_thumb.jpg"}
      %br
      %br
      %b Ceylon
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-apiviz.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_apiviz_thumb.jpg"}
      %br
      %br
      %b APIviz

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-netty.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_netty_thumb.jpg"}
      %br
      %br
      %b Netty
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-jsfunit.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jsfunit_thumb.jpg"}
      %br
      %br
      %b JSF Unit	  
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-narayana.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_narayana_thumb.jpg"}
      %br
      %br
      %b Narayana
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-byteman.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_byteman_thumb.jpg"}
      %br
      %br
      %b Byteman

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-guvnor.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_guvnor_thumb.jpg"}
      %br
      %br
      %b Guvnor
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-modcluster.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_modcluster_thumb.jpg"}
      %br
      %br
      %b Mod_cluster
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-switchyard.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_switchyard_thumb.png"}
      %br
      %br
      %b SwitchYard
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-jgroups.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jgroups_thumb.png"}
      %br
      %br
      %b jGroups

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-scribble.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_scribble_thumb.jpg"}
      %br
      %br
      %b Scribble
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-ironjacamar.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_ironjacamar_thumb.jpg"}
      %br
      %br
      %b IronJacamar
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-wise.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_wise_thumb.jpg"}
      %br
      %br
      %b Wise
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-arquillian.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_arquillian_thumb.jpg"}
      %br
      %br
      %b arquillian

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-pressgang.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_pressgang_thumb.jpg"}
      %br
      %br
      %b PressGang
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-cirras.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_cirras_thumb.jpg"}
      %br
      %br
      %b CirrAS
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-resteasy.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_resteasy_thumb.jpg"}
      %br
      %br
      %b RestEasy
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-hibernate.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_hibernate_thumb.jpg"}
      %br
      %br
      %b Hibernate

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-errai.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_errai_thumb.jpg"}
      %br
      %br
      %b Errai
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-picketbox.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_picketbox_thumb.png"}
      %br
      %br
      %b PicketBox
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-picketlink.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_picketlink_thumb.png"}
      %br
      %br
      %b PicketLink
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-boxgrinder.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_boxgrinder_thumb.png"}
      %br
      %br
      %b Boxgrinder

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-snowdrop.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_snowdrop_thumb.jpg"}
      %br
      %br
      %b Snowdrop
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-sam.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_sam_thumb.jpg"}
      %br
      %br
      %b SAM
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-modeshape.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_modeshape_thumb.jpg"}
      %br
      %br
      %b ModeShape
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-weld.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_weld_thumb.jpg"}
      %br
      %br
      %b Weld

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-papaki.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_papaki_thumb.jpg"}
      %br
      %br
      %b Papaki
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-blip.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_blip_thumb.jpg"}
      %br
      %br
      %b Drools BLiP
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-tattletale.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_tattletale_thumb.gif"}
      %br
      %br
      %b Tattletale
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-jbpm.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jbpm_thumb.jpg"}
      %br
      %br
      %b jBPM

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-rhq.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_rhq_thumb.jpg"}
      %br
      %br
      %b RHQ
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-microcontainer.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_microcontainer_thumb.jpg"}
      %br
      %br
      %b JBoss Microcontainer
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-mass.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_mass_thumb.jpg"}
      %br
      %br
      %b JBoss MASS
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-infinispan.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_infinispan_thumb.jpg"}
      %br
      %br
      %b Infinispan

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-mobicents.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_mobicents_thumb.jpg"}
      %br
      %br
      %b Mobicents
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-hornetq.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_hornetQ_thumb.jpg"}
      %br
      %br
      %b HornetQ
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-tohu.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_tohu_thumb.jpg"}
      %br
      %br
      %b Tohu
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-shrinkwrap.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_shrinkwrap_thumb.jpg"}
      %br
      %br
      %b ShrinkWrap

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-richfaces.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_richfaces_thumb.jpg"}
      %br
      %br
      %b RichFaces
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-tools.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_tools_thumb.gif"}
      %br
      %br
      %b JBoss Tools
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-teiid.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_teiid_thumb.gif"}
      %br
      %br
      %b Teiid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-seam.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_seam_thumb.jpg"}
      %br
      %br
      %b Seam

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-embjopr.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_embjopr_thumb.jpg"}
      %br
      %br
      %b Embedded Jopr
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-blacktie.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_blacktie_thumb.jpg"}
      %br
      %br
      %b BlackTie
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-torquebox.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_torquebox_thumb.jpg"}
      %br
      %br
      %b TorqueBox
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-riftsaw.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_riftsaw_thumb.png"}
      %br
      %br
      %b RiftSaw

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-savara.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_savara_thumb.png"}
      %br
      %br
      %b Savara
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-xnio.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_xnio_thumb.png"}
      %br
      %br
      %b Xnio
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-overlord.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_overlord_thumb.jpg"}
      %br
      %br
      %b Overlord
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-codethug.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_codethug_thumb.jpg"}
      %br
      %br
      %b Code Thug

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-jbossasylum.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jbossasylum_thumb.png"}
      %br
      %br
      %b JBoss Community Asylum
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-closedsource.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_closedsourceislame_thumb.gif"}
      %br
      %br
      %b Closed Source is Lame
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-jberet.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jberet_thumb.jpg"}
      %br
      %br
      %b JBeret
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-nodyn.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_nodyn_thumb.jpg"}
      %br
      %br
      %b Nodyn

.row-fluid
  .span3.well.pull-center
    %a{:href => "#{site.base_url}/wallpaper-cdi.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_cdi_thumb.jpg"}
      %br
      %br
      %b CDI Specification