%h3
  %a{href: "/wallpapers.html"} Desktop Wallpaper

%ul.icons-ul
  %li(class="#{page.real_page.url=='/wallpaper-aerogear.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-aerogear.html"} AeroGear
  %li(class="#{page.real_page.url=='/wallpaper-apiviz.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-apiviz.html"} APIviz
  %li(class="#{page.real_page.url=='/wallpaper-ashiaro.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-ashiaro.html"} Ashiaro
  %li(class="#{page.real_page.url=='/wallpaper-arquillian.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-arquillian.html"} Arquillian
  %li(class="#{page.real_page.url=='/wallpaper-blacktie.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-blacktie.html"} Blacktie
  %li(class="#{page.real_page.url=='/wallpaper-boxgrinder.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-boxgrinder.html"} BoxGrinder
  %li(class="#{page.real_page.url=='/wallpaper-byteman.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-byteman.html"} Byteman
  %li(class="#{page.real_page.url=='/wallpaper-capedwarf.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-capedwarf.html"} CapeDwarf
  %li(class="#{page.real_page.url=='/wallpaper-ceylon.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-ceylon.html"} Ceylon
  %li(class="#{page.real_page.url=='/wallpaper-cirras.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-cirras.html"} CirrAS
  %li(class="#{page.real_page.url=='/wallpaper-blip.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-blip.html"} Drools BLiP
  %li(class="#{page.real_page.url=='/wallpaper-embjopr.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-embjopr.html"} Embedded Jopr
  %li(class="#{page.real_page.url=='/wallpaper-errai.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-errai.html"} Errai
  %li(class="#{page.real_page.url=='/wallpaper-escalante.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-escalante.html"} Escalante
  %li(class="#{page.real_page.url=='/wallpaper-fabric8.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-fabric8.html"} Fabric8
  %li(class="#{page.real_page.url=='/wallpaper-guvnor.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-guvnor.html"} Guvnor
  %li(class="#{page.real_page.url=='/wallpaper-hawtio.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-hawtio.html"} Hawtio
  %li(class="#{page.real_page.url=='/wallpaper-hibernate.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-hibernate.html"} Hibernate
  %li(class="#{page.real_page.url=='/wallpaper-hornetq.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-hornetq.html"} HornetQ
  %li(class="#{page.real_page.url=='/wallpaper-immutant.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-immutant.html"} Immutant
  %li(class="#{page.real_page.url=='/wallpaper-infinispan.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-infinispan.html"} Infinispan
  %li(class="#{page.real_page.url=='/wallpaper-ironjacamar.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-ironjacamar.html"} IronJacamar
  %li(class="#{page.real_page.url=='/wallpaper-jbossforge.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-jbossforge.html"} JBoss Forge
  %li(class="#{page.real_page.url=='/wallpaper-jbossmass.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-jbossmass.html"} JBoss Mass
  %li(class="#{page.real_page.url=='/wallpaper-jbossmicrocontainer.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-jbossmicrocontainer.html"} JBoss Microcontainer
  %li(class="#{page.real_page.url=='/wallpaper-tools.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-tools.html"} JBoss Tools
  %li(class="#{page.real_page.url=='/wallpaper-jbpm.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-jbpm.html"} jBPM
  %li(class="#{page.real_page.url=='/wallpaper-jgroups.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-jgroups.html"} JGroups
  %li(class="#{page.real_page.url=='/wallpaper-jsfunit.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-jsfunit.html"} JSF Unit
  %li(class="#{page.real_page.url=='/wallpaper-mobicents.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-mobicents.html"} Mobicents
  %li(class="#{page.real_page.url=='/wallpaper-modcluster.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-modcluster.html"} Mod_cluster
  %li(class="#{page.real_page.url=='/wallpaper-modeshape.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-modeshape.html"} ModeShape
  %li(class="#{page.real_page.url=='/wallpaper-narayana.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-narayana.html"} Narayana
  %li(class="#{page.real_page.url=='/wallpaper-netty.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-netty.html"} Netty
  %li(class="#{page.real_page.url=='/wallpaper-overlord.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-overlord.html"} Overlord
  %li(class="#{page.real_page.url=='/wallpaper-papaki.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-papaki.html"} Papaki
  %li(class="#{page.real_page.url=='/wallpaper-picketbox.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-picketbox.html"} PicketBox
  %li(class="#{page.real_page.url=='/wallpaper-picketlink.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-picketlink.html"} PicketLink
  %li(class="#{page.real_page.url=='/wallpaper-portletbridge.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-portletbridge.html"} PortletBridge
  %li(class="#{page.real_page.url=='/wallpaper-pressgang.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-pressgang.html"} PressGang
  %li(class="#{page.real_page.url=='/wallpaper-resteasy.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-resteasy.html"} RESTEasy
  %li(class="#{page.real_page.url=='/wallpaper-rhq.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-rhq.html"} RHQ
  %li(class="#{page.real_page.url=='/wallpaper-richfaces.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-richfaces.html"} RichFaces
  %li(class="#{page.real_page.url=='/wallpaper-riftsaw.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-riftsaw.html"} RiftSaw
  %li(class="#{page.real_page.url=='/wallpaper-sam.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-sam.html"} SAM
  %li(class="#{page.real_page.url=='/wallpaper-savara.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-savara.html"} Savara
  %li(class="#{page.real_page.url=='/wallpaper-scribble.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-scribble.html"} Scribble
  %li(class="#{page.real_page.url=='/wallpaper-seam.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-seam.html"} Seam
  %li(class="#{page.real_page.url=='/wallpaper-searchisko.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-searchisko.html"} Searchisko
  %li(class="#{page.real_page.url=='/wallpaper-shrinkwrap.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-shrinkwrap.html"} ShrinkWrap
  %li(class="#{page.real_page.url=='/wallpaper-snowdrop.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-snowdrop.html"} Snowdrop
  %li(class="#{page.real_page.url=='/wallpaper-switchyard.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-switchyard.html"} SwitchYard
  %li(class="#{page.real_page.url=='/wallpaper-tattletale.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-tattletale.html"} Tattletale
  %li(class="#{page.real_page.url=='/wallpaper-teiid.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-teiid.html"} Teiid
  %li(class="#{page.real_page.url=='/wallpaper-thermostat.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-thermostat.html"} Thermostat
  %li(class="#{page.real_page.url=='/wallpaper-tohu.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-tohu.html"} Tohu
  %li(class="#{page.real_page.url=='/wallpaper-torquebox.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-torquebox.html"} TorqueBox
  %li(class="#{page.real_page.url=='/wallpaper-undertow.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-undertow.html"} Undertow
  %li(class="#{page.real_page.url=='/wallpaper-weld.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-weld.html"} Weld
  %li(class="#{page.real_page.url=='/wallpaper-wildfly.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-wildfly.html"} WildFly
  %li(class="#{page.real_page.url=='/wallpaper-windup.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-windup.html"} Windup
  %li(class="#{page.real_page.url=='/wallpaper-wise.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-wise.html"} Wise
  %li(class="#{page.real_page.url=='/wallpaper-xnio.html' ? 'active' : '' }" )
    %a{href: "/wallpaper-xnio.html"} XNIO
